<!-- Social links. @TODO: replace by link/instructions in template -->
<section id="social">
  <div class="container">
    <div class="wrapper clearfix">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_linkedin_counter"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
      </div>
      <!-- AddThis Button END -->
    </div>
  </div>
</section>

<!-- /social links -->


<footer id="footer" class="top-space">

  <div class="footer1">
    <div class="container">
      <div class="row">

        <div class="col-md-3 widget">
          <h3 class="widget-title">Contact</h3>
          <div class="widget-body">
            <p>+216 73 100 000<br>
              <a href="mailto:#">Echki@lancini.com</a><br>
              <br>
              Berge du Lac, La Marsa, Tunis: 1053
            </p>
          </div>
        </div>

        <div class="col-md-3 widget">
          <h3 class="widget-title">Follow me</h3>
          <div class="widget-body">
            <p class="follow-me-icons">
              <a href=""><i class="fa fa-twitter fa-2"></i></a>
              <a href=""><i class="fa fa-dribbble fa-2"></i></a>
              <a href=""><i class="fa fa-github fa-2"></i></a>
              <a href=""><i class="fa fa-facebook fa-2"></i></a>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <h3 class="widget-title">Why you should use Lancini ?</h3>
          <div class="widget-body">
            <p>*Work with the largest network of independent professionals and get things done—from quick turnarounds to big transformations.</p>
            <p>*Meet clients you’re excited to work with and take
              your career or business to new heights.</p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

  <div class="footer2">
    <div class="container">
      <div class="row">

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="simplenav">
              <a routerLink="/home">Home</a> |
              <a routerLink="/about">About</a> |
              <a routerLink="/sidebar-right">Sidebar</a> |
              <a routerLink="/contact">Contact</a> |
              <b><a routerLink="/signup">Sign up</a></b>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              Copyright &copy; 2021, Lancini.com.
            </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

</footer>






