<div class="row mt-lg-5 mb-lg-5">
  <div class="col-sm-offset-1">
    <form #myform="ngForm" (ngSubmit)="getFreelancers()" class="form-inline my-2 my-lg-0">
      <input [(ngModel)]="skills" name="skills" class="form-control mr-sm-2" type="search" placeholder=" Write technologies (separated by spaces) to find your mission" aria-label="Search" style="font-weight:bold;font-size:20px;width:760px;height:50px">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="font-size:20px;width:80px;height:50px">Search</button>
    </form>
  </div>

</div>

