<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class="row">
        <h2>New Skill</h2>
        <p class="lead">
           
            <small class="text-muted">Add new one in order to ameriorate your profil</small>
        </p>

        <!--<div class="alert alert-warning">
            <h4>Missing SELECT Support</h4>
            This feature does not currently support SELECT tags - I'm still working out a way to make them work with Bootstrap's native examples.
        </div>
    -->
        <hr />

        <div class="row">
            <div class="col-sm-8">

                <h4 class="page-header">Default Implementation</h4>
                <form role="form" #myForm=ngForm (ngSubmit)=newSkill(myForm)>
                   <!-- <div class="form-group float-label-control"        newSkill(myForm)>
                        <label for="">id</label>
                        <input type="text" class="form-control" placeholder="Username" name="id"  >
                    </div>
                    -->
                    <div class="form-group float-label-control">
                        <label for="">Skill:</label>
                        <input type="text" class="form-control" placeholder="skill" #name="ngModel" name="name" [(ngModel)]="skill.name" required>
                    </div>
                    <div [hidden]="name.valid || name.pristine"> Please insert the skill in order to add it to your profil</div>
                 
  
                    <button class="btn btn-action" type="submit" [disabled]=!myForm.valid > Submit </button>

                </form>

<!--
                <h4 class="page-header">Bottom Labels</h4>
                <form role="form">
                    <div class="form-group float-label-control label-bottom">
                        <label for="">Username</label>
                        <input type="email" class="form-control" placeholder="Username">
                    </div>
                </form>


                <h4 class="page-header">Placeholder Overrides</h4>
                <form role="form">
                    <div class="form-group float-label-control">
                        <label for="">Email Address</label>
                        <input type="email" class="form-control" placeholder="What's your email address?">
                    </div>
                </form>
-->         
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Features
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Very customizable</li>
                            <li>Works with Bootstrap's native form examples</li>
                            <li>Uses CSS transitions for fallback browser support</li>
                            <li>Placeholder override for labels when fields are empty</li>
                            <li>Included authored jQuery plugin</li>
                            <li>Optional bottom label positioning with the <code>.label-bottom</code> utility</li>
                            <li>Works great with Chrome's AutoComplete</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>