<header id="head" class="secondary"></header>

<ol class="breadcrumb" routerLinkActive="active">
  <li><a routerLink="/home">Home</a></li>
  <li class="active">List Of Completed Missions</li>
</ol>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Project Title</th>
    <th>Freelancer Name</th>
    <th>Freelancer Email</th>
    <th>Mission Price</th>
    <th>Give Feedback to Freelancer (You can Do it just once)</th>
  </tr>

  </thead>
  <tbody>
  <tr *ngFor="let mission of completedMissions">
    <td>{{mission.title}}</td>
    <td>{{mission.freelancer.firstName}} {{mission.freelancer.lastName}}</td>
    <td>{{mission.freelancer.email}}</td>
    <td>{{mission.averagePayment}}$</td>
    <td><button (click)="giveFeedback(mission)" class="btn btn-warning">Give Feedback</button></td>
  </tr>
  </tbody>


</table>
