<header id="head" class="secondary"></header>

<ol class="breadcrumb" routerLinkActive="active">
  <li><a routerLink="/home">Home</a></li>
  <li class="active">List Of invitations for Missions</li>
</ol>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Project Title</th>
    <th>Client Name</th>
    <th>Client Email</th>
    <th>Mission Price</th>
    <th>Accept Invitation for a mission(You can Do it just once)</th>
  </tr>

  </thead>
  <tbody>
  <tr *ngFor="let mission of listInvitations">
    <td>{{mission.title}}</td>
    <td>{{mission.client.firstName}} {{mission.client.lastName}}</td>
    <td>{{mission.client.email}}</td>
    <td>{{mission.averagePayment}}$</td>
    <td><button (click)=" acceptInvitation(mission.id)" class="btn btn-warning">Accept</button></td> <!--(click)=" acceptInvitation(mission.id)"-->
  </tr>
  </tbody>


</table>
<br><br><br><br>